{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock css %}

{% block body %}

<section class="ftco-section ftco-booking bg-light">
  <div class="container ftco-relative">
      <div class="row justify-content-center pb-3">
          <div class="col-md-10 heading-section text-center ftco-animate">
              <span class="subheading">Category löschen</span>
              <h2 class="mb-4">Category löschen</h2>
          </div>
      </div>
      <div class="row justify-content-center">
          <div class="col-md-8 ftco-animate">
              <form method="POST" class="category-form" action="{% url 'contact:category_delete' pk=category.pk %}">
                  {% csrf_token %}
                  <p>Sind Sie sicher, dass Sie diese Kategorie löschen möchten?</p>
                  <div class="form-group">
                      <button type="submit" class="btn btn-danger rounded-pill fa fa-trash"> Category löschen </button>
                      <a href="{% url 'contact:management' %}" class="btn btn-secondary rounded-pill">Abbrechen</a>
                  </div>
              </form>
          </div>
      </div>
  </div>
</section>

{% endblock body %}
