{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock css %}

{% block body %}

<section class="ftco-section ftco-booking bg-light">
  <div class="container ftco-relative">
      <div class="row justify-content-center pb-3">
          <div class="col-md-10 heading-section text-center ftco-animate">
              <span class="subheading">Category bearbeiten</span>
              <h2 class="mb-4">Category bearbeiten</h2>
          </div>
      </div>
      <div class="row justify-content-center">
          <div class="col-md-8 ftco-animate">
              <form method="POST" class="category-form" action="{% url 'contact:category_update' pk=category.pk %}">
                  {% csrf_token %}
                  <div class="row">
                      <div class="col-sm-6">
                          <div class="form-group">
                              <label for="id_name">Category name</label>
                              {{ form.name }}
                          </div>
                      </div>
                  </div>
                  <div class="form-group">
                      <button type="submit" class="btn btn-primary rounded-pill">Category aktualisieren</button>
                  </div>
              </form>
          </div>
      </div>
  </div>
</section>

{% endblock body %}
