{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock css %}

{% block body %}

<section class="ftco-section ftco-pricing">
    <div class="container">
        <div class="row justify-content-center pb-3">
            <div class="col-md-10 heading-section text-center ftco-animate">
                <span class="subheading">Preisgestaltung</span>
                <h2 class="mb-4">Unsere Preise</h2>
                <p>Weit, weit entfernt, hinter den Wortbergen, fernab der Länder Vokalien und Konsonantien</p>
            </div>
        </div>
        <div class="row">
            {% for category in categories %}
                <div class="col-md-4 ftco-animate">
                    <div class="pricing-entry pb-5 text-center">
                        <div>
                            <h3 class="mb-4">{{ category.name }}</h3>
                        </div>
                        <ul class="scrollable-list">
                            {% for service in category.service_category.all %}
                                <li>
                                    <p><span class="price">{{ service.name }}</span> <span class="per">/${{ service.price }}</span></p>
                                </li>
                            {% endfor %}
                        </ul>
                        <p class="button text-center"><a href="{% url 'contact:appointment_create' %}" class="btn btn-primary px-4 py-3">Angebot erhalten</a></p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

<style>
.scrollable-list {
    max-height: 300px;
    overflow-y: auto;
}
</style>

{% endblock body %}
