{% extends 'base.html' %}
{% load static %}

{% block body %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock css %}

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">Edit Service</div>
        <div class="card-body">
          <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Update</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
