{% extends 'base.html' %}
{% load static %}

{% block css %}
   <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock css %}

{% block body %}
<section class="ftco-section ftco-booking bg-light">
    <div class="container ftco-relative">
        <div class="row justify-content-center pb-3">
            <div class="col-md-10 heading-section text-center ftco-animate">
                <span class="subheading">Eigentümer Aktualisierung</span>
                <h2 class="mb-4">Eigentümerdetails aktualisieren</h2>
                <p>Aktualisieren Sie Ihre Salon-Details</p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-8 ftco-animate">
                <form method="post" action="{% url 'contact:owner_update' pk=owner.pk %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% if messages %}
                        {% for message in messages %}
                            {% if message.tags == 'success' %}
                                <div class="alert alert-success" role="alert">
                                    {{ message }}
                                </div>
                            {% elif message.tags == 'error' %}
                                <div class="alert alert-danger" role="alert">
                                    {{ message }}
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    <div class="form-group">
                        <label for="id_name">Ihr Name</label>
                        {{ form.name }}
                    </div>
                    <div class="form-group">
                        <label for="id_email">Ihre E-Mail</label>
                        {{ form.email }}
                    </div>
                    <div class="form-group">
                        <label for="id_phone">Ihre Telefonnummer</label>
                        {{ form.phone }}
                    </div>
                    <div class="form-group">
                        <label for="id_address">Ihre Adresse</label>
                        {{ form.address }}
                    </div>
                    <div class="form-group">
                        <label for="id_website">Ihre Webseite</label>
                        {{ form.website }}
                    </div>
                    <div class="form-group">
                        <label for="id_about">Über Sie</label>
                        {{ form.about }}
                    </div>
                    <div class="form-group">
                        <label for="id_work_days">Arbeits Tage</label>
                        {{ form.work_days }}
                    </div>
                    <div class="form-group">
                        <label for="id_opening_time">Öffnungszeit</label>
                        {{ form.opening_time }}
                    </div>
                    <div class="form-group">
                        <label for="id_closing_time">Schließungszeit</label>
                        {{ form.closing_time }}
                    </div>
                    <div class="form-group">
                        <label for="id_tax">Steuer ID</label>
                        <input type="text" name="tax_id" id="id_tax" value="{{ form.tax_id.value }}" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="id_logo">Ihr Logo</label>
                        {{ form.logo }}
                    </div>
                    {% if form.logo %}
                    <div>
                        <img src="{{ form.logo.value.url }}" class="img-fluid barber-image">
                    </div>
                    {% endif %}
                    <button type="submit" class="btn btn-primary rounded-pill mt-3">Aktualisieren</button>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock body %}
