{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header bg-danger text-white">
          Confirm Deletion: {{ object.name }}
        </div>

        <div class="card-body">
          <p>Are you sure you want to delete "{{ object.name }}"?</p>
          <form method="post" style="display: inline;">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Delete</button>
          </form>
          <a href="{% url 'owner_list' %}" class="btn btn-secondary">Cancel</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
