{% extends 'base.html' %}
{% load static %}
{% block css %}
   <link rel="stylesheet" href="{% static 'css/style.css' %}">
   <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
{% endblock css %}

{% block body %}
<div class="container py-5 my-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header bg-primary text-white">
          Eigentümerdetails
        </div>

        <div class="card-body">
          <p><strong>Name:</strong> {{ object.name }}</p>
          <p><strong>E-Mail:</strong> {{ object.email }}</p>
          <p><strong>Telefon:</strong> {{ object.phone }}</p>
          <p><strong>Adresse:</strong> {{ object.address }}</p>
          <p><strong>Webseite:</strong> <a href="{{ object.website }}">{{ object.website }}</a></p>
          <p><strong>Über:</strong> {{ object.about }}</p>
          <p><strong>Logo:</strong><br>
          <img src="{{ object.logo.url }}" alt="{{ object.name }} Logo" style="max-width: 200px;"></p>
          <!-- Add display for other fields as needed -->
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
