{% extends "base.html" %}
{% load static %}
{% block css %}
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/fontawesome/4.7.0/css/font-awesome.min.css">
   <link rel="stylesheet" href="{% static 'css/style.css' %}">
   <style>
    .star-rating span { font-size: 20px; color: #ffca48; }
    .scrollable-list {
        max-height: 300px;
        overflow-y: auto;
    }

    .product-img, .gallery-img {
        height: 500px; 
        width: 500px;
        object-fit: fill;
    }
    </style>
{% endblock css %}

{% block body %}
<section class="hero-wrap js-fullheight" style="background-image: url('{% static 'images/center.jpg' %}');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight justify-content-center align-items-center">
            <div class="col-lg-12 ftco-animate d-flex align-items-center">
                <div class="text text-center">
                    <span class="subheading">Willkommen bei {{ owner.name }}</span>
                    <h1 class="mb-4">Wir sind professionelle Haarpflege</h1>
                    <p><a href="#appointments" class="btn btn-primary btn-outline-primary px-4 py-2">Jetzt buchen</a></p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-no-pt ftco-no-pb">
    <div class="container-fluid px-0">
        <div class="row no-gutters">
            <div class="col-md text-center d-flex align-items-stretch">
                <div class="services-wrap d-flex align-items-center img" style="background-image: url('{% static 'images/gallery-1.jpg' %}');">
                    <div class="text">
                        <h3>Für Männer</h3>
                        <p><a href="#price" class="btn-custom">Preise anzeigen <span class="ion-ios-arrow-round-forward"></span></a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 text-center d-flex align-items-stretch">
                <div class="text-about py-5 px-4">
                    <h1 class="logo">
                        <img src="{{salon_data.owner.logo.url}}" alt="{{salon_data.owner.name }}">
                        <a href="#"><span class=""></span>{{salon_data.owner.name}}</a>
                    </h1>
                    <h2>Willkommen in unserem Salon</h2>
                    <p>Unser Salon ist ein Ort der Schönheit, des Stils und des Vertrauens. Hier dreht sich alles um die Kunst der Männerpflege und des traditionellen Handwerks. Entdecken Sie unsere einzigartige Atmosphäre und erleben Sie die Perfektion in jedem Detail. Treten Sie ein und lassen Sie sich von unseren erfahrenen Barbieren verwöhnen.</p>
                    <p class="mt-3"><a href="#service" class="btn btn-primary btn-outline-primary">Mehr lesen</a></p>
                </div>
            </div>

        </div>
    </div>
</section>

<section id=service class="services-section ftco-section">
    <div class="container">
        <div class="row justify-content-center pb-3">
            <div class="col-md-10 heading-section text-center ftco-animate">
                <span class="subheading">Dienstleistungen</span>
                <h2 class="mb-4">Dienstleistungen Menü</h2>
                <p>Willkommen in unserem umfangreichen Dienstleistungsmenü, das darauf ausgerichtet ist, Ihnen ein unvergleichliches Erlebnis zu bieten. Tauchen Sie ein in die Welt der Schönheit und des Wohlbefindens.</p>
            </div>
        </div>
        <div class="row no-gutters d-flex">
            <div class="col-md-6 col-lg-4 d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services d-block text-center">
                    <div class="icon"><span class="flaticon-male-hair-of-head-and-face-shapes"></span></div>
                    <div class="media-body">
                        <h3 class="heading mb-3">Haarschnitt &amp; Styling</h3>
                        <p>Unsere erfahrenen Stylisten stehen bereit, um Ihnen einen Haarschnitt und ein Styling zu bieten, das Ihren persönlichen Stil und Ihre Persönlichkeit unterstreicht.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services d-block text-center">
                    <div class="icon"><span class="flaticon-beard"></span></div>
                    <div class="media-body">
                        <h3 class="heading mb-3">Bart</h3>
                        <p>Unsere Bartexperten sind hier, um sicherzustellen, dass Ihr Bart gepflegt und gestaltet wird, um Ihrem Look das gewisse Etwas zu verleihen.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 d-flex align-self-stretch ftco-animate">
                <div class="media block-6 services d-block text-center">
                    <div class="icon"><span class="flaticon-healthy-lifestyle-logo"></span></div>
                    <div class="media-body">
                        <h3 class="heading mb-3">Körperbehandlung</h3>
                        <p>Genießen Sie eine entspannende und revitalisierende Körperbehandlung, um Ihren Geist zu beruhigen und Ihre Sinne zu erfrischen.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="appointments" class="ftco-section ftco-booking bg-light">
    <div class="container ftco-relative">
        <div class="row justify-content-center pb-3">
            <div class="col-md-10 heading-section text-center ftco-animate">
                <span class="subheading">Buchung</span>
                <h2 class="mb-4">Vereinbaren Sie einen Termin</h2>
                <p>Willkommen bei unserem Buchungsservice. Füllen Sie das Formular unten aus, um einen Termin zu vereinbaren, oder rufen Sie uns direkt an.</p>
            </div>
        </div>
        {% include "include/appointments.html" %}
    </div>
</section>
<script src="https://unpkg.com/htmx.org@1.7.1"></script>
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script>
    $(document).ready(function() {
        // Handle form submission using AJAX when form is submitted
        $(document).on('submit', '#appointment-form', function(event) {
            event.preventDefault();
            var formData = $(this).serialize();
            $.ajax({
                type: $(this).attr('method'),
                url: $(this).attr('action'),
                data: formData,
                dataType: 'json',
                headers: {'X-CSRFToken': '{{ csrf_token }}'},
                success: function(response) {
                    $('#message').html('<div class="alert alert-success" role="alert">' + response.message + '</div>');
                },
                error: function(xhr, status, error) {
                    // Display error message
                    $('#message').html('<div class="alert alert-danger" role="alert">' + xhr.responseText + '</div>');
                },
                complete: function() {
                    // Scroll to appointments section
                    $('html, body').animate({
                        scrollTop: $('#appointments').offset().top
                    }, 'slow');
                }
            });
        });
    });
</script>






<section id=barber class="ftco-section ftco-team">
    <div class="container-fluid px-md-5">
        <div class="row justify-content-center pb-3">
            <div class="col-md-10 heading-section text-center ftco-animate">
                <span class="subheading">Künstlerischer Leiter</span>
                <h2 class="mb-4">Friseur</h2>
                <p>Entdecken Sie unsere talentierten Friseure, die Ihnen dabei helfen, Ihren perfekten Look zu kreieren.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 ftco-animate">
                <div class="carousel-team owl-carousel">
                    {% for barber in barbers %}
                        <div class="item">
                            <a href="#" class="team text-center">
                                <div class="img" style="background-image: url({{ barber.image.url }});"></div>
                                <h2>{{ barber.name }}</h2>
                                <span class="position">{{ barber.expertise }}</span>
                                <!-- Durchschnittliche Bewertung mit Sternen anzeigen -->
                                
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>


<section id=gallery class="ftco-section ftco-no-pt ftco-no-pb gallery-container">
    <div class="container-fluid my-5">
        <div class="row no-gutters justify-content-center mb-5 pb-2">
            <div class="col-md-6 text-center heading-section ftco-animate">
                <span class="subheading">Galerie</span>
                <h2 class="mb-4">Unsere Galerie</h2>
                <p>Entdecken Sie unsere vielfältige Galerie, die eine Auswahl an inspirierenden Bildern und Momenten aus unserem Salon präsentiert. Tauchen Sie ein in unsere Welt des Stils, der Schönheit und des Handwerks und lassen Sie sich von den einzigartigen Kreationen unserer talentierten Fachleute begeistern.</p>
            </div>
        </div>
        <div class="row no-gutters">
            {% for gallery_item in gallery_items %}
            <div class="col-md-6 col-lg-3 ftco-animate gallery-item">
                <div class="project">
                    <img src="{{ gallery_item.image.url }}" class="img-fluid gallery-img" alt="{{ gallery_item.title }}">

                    <div class="text">
                        <span>{{ gallery_item.category }}</span>
                        <h3><a href="{{ gallery_item.get_absolute_url }}">{{ gallery_item.name }}</a></h3>
                        <p>{{ gallery_item.description }}</p>
                        
                    </div>

                    <a href="{{ gallery_item.image.url }}" class="icon image-popup d-flex justify-content-center align-items-center">
                        <span class="icon-expand"></span>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>






<section id=price class="ftco-section ftco-pricing">
    <div class="container">
        <div class="row justify-content-center pb-3">
            <div class="col-md-10 heading-section text-center ftco-animate">
                <span class="subheading">Preisgestaltung</span>
                <h2 class="mb-4">Unsere Preise</h2>
                <p>Entdecken Sie unsere umfassende Preisgestaltung und wählen Sie aus einer Vielzahl von Dienstleistungen, die speziell auf Ihre Bedürfnisse zugeschnitten sind. Unsere Preise spiegeln unser Engagement für Qualität und Kundenzufriedenheit wider, während wir Ihnen ein unvergessliches Erlebnis bieten.</p>
            </div>
        </div>
        <div class="row">
            {% for category in categories %}
                <div class="col-md-4 ftco-animate">
                    <div class="pricing-entry pb-5 text-center">
                        <div>
                            <h3 class="mb-4">{{ category.name }}</h3>
                        </div>
                        <ul class="scrollable-list">
                            {% for service in category.service_category.all %}
                                <li>
                                    <p><span class="price">{{ service.name }}</span> <span class="per">/€{{ service.price }}</span></p>
                                </li>
                            {% endfor %}
                        </ul>
                        <p class="button text-center"><a href="/#appointments" class="btn btn-primary px-4 py-3">Angebot erhalten</a></p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

  
{% endblock body %}