{% extends 'base.html' %}
{% load static %}

{% block css %}
   <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock css %}

{% block body %}

<div class="container my-5 py-5">
    <h2>Friseur Liste</h2>

    <form method="post" action="{% url 'contact:barber_create' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary rounded-pill">Erstellen</button>
    </form>
    <!-- Liste der Friseure -->
    <div class="row my-5">
        {% for barber in object_list %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="{{ barber.image.url }}" class="card-img-top" alt="{{ barber.name }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ barber.name }}</h5>
                        <p class="card-text">{{ barber.expertise }}</p>
                    </div>
                    <div class="btn-group" role="group">
                        <a href="{% url 'contact:barber_update' pk=barber.pk %}" class="btn btn-primary rounded-pill fa fa-edit"></a>
                        <a href="{% url 'contact:barber_delete' pk=barber.pk %}" class="btn btn-danger rounded-pill fa fa-trash"></a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <!-- Friseur Termine -->
    {% if barber_appointments %}
        <h3>{{ barber.name }}'s Termine</h3>
        <ul>
            {% for appointment in barber_appointments %}
                <li>
                    {{ appointment.name }} - {{ appointment.date }} - {{ appointment.time }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    <!-- Formular zum Bearbeiten von Friseuren (standardmäßig ausgeblendet) -->
    {% if update_form %}
        <h3>Friseur bearbeiten</h3>
        <form method="post" action="{% url 'contact:barber_update' pk=update_form.instance.pk %}">
            {% csrf_token %}
            {{ update_form.as_p }}
            <button type="submit" class="btn btn-primary rounded-pill fa fa-edit"></button>
        </form>
    {% endif %}

    <!-- Formular zum Löschen von Friseuren (standardmäßig ausgeblendet) -->
    {% if delete_form %}
        <h3>Friseur löschen</h3>
        <form method="post" action="{% url 'contact:barber_delete' pk=delete_form.instance.pk %}">
            {% csrf_token %}
            {{ delete_form.as_p }}
            <button type="submit" class="btn btn-danger rounded-pill fa fa-trash"></button>
        </form>
    {% endif %}
</div>


{% endblock body %}
