{% extends 'base.html' %}
{% load static %} 
{% block css %}
   <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock css %}
{% block body %}

<section class="ftco-section ftco-team">
    <div class="container-fluid px-md-5">
        <div class="row justify-content-center pb-3">
            <div class="col-md-10 heading-section text-center ftco-animate">
                <span class="subheading">Künstlerischer Leiter</span>
                <h2 class="mb-4">Friseur</h2>
                <p>Weit, weit weg, hinter den Wortbergen, fernab der Länder Vokalien und Konsonantien</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 ftco-animate">
                <div class="carousel-team owl-carousel">
                    {% for barber in object_list %}
                        <div class="item">
                            <a href="#" class="team text-center">
                                <div class="img" style="background-image: url({{ barber.image.url }});"></div>
                                <h2>{{ barber.name }}</h2>
                                <span class="position">{{ barber.expertise }}</span>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock body %}