{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
{% endblock css %}

{% block body %}
<div class="container mt-4">
    <h2>Create New User</h2>
    <form method="post" href="{% url 'accounts:create_profile' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-add rounded-pill">Erstellen</button>
    </form>
</div>
{% endblock %}