{% extends 'base.html' %}
{% load static %}

{% block css %}
   <link rel="stylesheet" href="{% static 'css/style.css' %}">
   <style>
      /* Add your custom styling here */
      .card {
         margin-top: 50px;
      }
      .form-group {
         margin-bottom: 20px;
      }
      .text-danger {
         font-size: 80%;
      }
   </style>
{% endblock css %}

{% block body %}
  <div class="container mt-5 mb-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h4 class="mb-0">{{ _('Signup') }}</h4>
          </div>
          <div class="card-body">
            <form method="post" class="">
              {% csrf_token %}
              {% if messages %}
                  {% for message in messages %}
                    {% if message.tags == 'success' %}
                        <div class="alert alert-success" role="alert">
                            {{ message }}
                        </div>
                    {% elif message.tags == 'error' %}
                        <div class="alert alert-danger" role="alert">
                            {{ message }}
                        </div>
                    {% endif %}
                  {% endfor %}
              {% endif %}
              {{ form.as_p }}
              
              <div class="form-group">
                <button type="submit" class="btn btn-primary rounded-pill">{{ _('Signup') }}</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock body %}
