{% extends 'base.html' %}
{% load static %} 
{% block css %}
   <link rel="stylesheet" href="{% static 'css/style.css' %}">
   <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
   <style>
    .item-img{
        height: 200px;
         object-fit: cover;
    }
   </style>
{% endblock css %}

{% block body %}

<section class="hero-wrap hero-wrap-2" style="background-image: url('{% static 'images/4.jpg' %}');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
            <div class="col-md-9 ftco-animate pb-5 text-center">
                <h2 class="mb-0 bread">Galerie</h2>
                <p class="breadcrumbs">
                    <span class="mr-2"><a href="{% url 'home' %}">Startseite <i class="ion-ios-arrow-round-forward"></i></a></span>
                    <span>Galerie <i class="ion-ios-arrow-round-forward"></i></span>
                </p>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-booking bg-light">
    <div class="container ftco-relative">
        <div class="row justify-content-center pb-3">
            <div class="col-md-10 heading-section text-center ftco-animate">
                <span class="subheading">Galerie</span>
                <h2 class="mb-4">Galerieartikel aktualisieren</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-8 ftco-animate">
                <form method="POST" class="appointment-form" action="{% url 'contact:item_update' pk=object.pk %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% if form.errors %}
                       <div class="alert alert-danger" role="alert">
                           {{ form.errors }}
                       </div>
                    {% endif %}
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="id_name">Name</label>
                                {{ form.name }}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="id_service">Dienstleistung</label>
                                {{ form.service }}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="id_category">Kategorie</label>
                                {{ form.category }}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="id_image">Bild</label>
                                {{ form.image }}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="id_description">Beschreibung</label>
                                {{ form.description }}
                            </div>
                        </div>
                        <div class="col-sm-6 mt-4">
                            <img src="{{ form.image.value.url }}" class="img-fluid item-img">
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary rounded-pill"> Galerieartikel aktualisieren </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock body %}
