{% extends 'base.html' %}
{% load static %} 
{% block css %}
   <link rel="stylesheet" href="{% static 'css/style.css' %}">
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/fontawesome/4.7.0/css/font-awesome.min.css">
{% endblock css %}

{% block body %}

<section class="hero-wrap hero-wrap-2" style="background-image: url('{% static 'images/4.jpg' %}');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
            <div class="col-md-9 ftco-animate pb-5 text-center">
                <h2 class="mb-0 bread">Galerie</h2>
                <p class="breadcrumbs">
                    <span class="mr-2"><a href="{% url 'home' %}">Startseite <i class="ion-ios-arrow-round-forward"></i></a></span>
                    <span>Galerie <i class="ion-ios-arrow-round-forward"></i></span>
                </p>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-booking bg-light">
    <div class="container ftco-relative">
        <div class="row justify-content-center pb-3">
            <div class="col-md-10 heading-section text-center ftco-animate">
                <span class="subheading">Galerie</span>
                <h2 class="mb-4">Galerieelement löschen</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-8 ftco-animate">
                <form method="POST" class="appointment-form" action="{% url 'contact:item_delete' pk=object.pk %}">
                    {% csrf_token %}
                    <p>Sind Sie sicher, dass Sie dieses Galerieelement löschen möchten?</p>
                    <div class="form-group">
                        <button type="submit" class="btn btn-danger rounded-pill fa fa-trash"> Löschen </button>
                        <a href="{% url 'contact:management' %}" class="btn btn-secondary rounded-pill"> Abbrechen </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock body %}
