{% extends 'base.html' %}
{% load static %} 

{% block css %}
   <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock css %}

{% block body %}
<section class="ftco-section ftco-booking bg-light">
    <div class="container ftco-relative">
        <div class="row justify-content-center pb-3">
            <div class="col-md-10 heading-section text-center ftco-animate">
                <span class="subheading">Buchung</span>
                {% if form.instance.pk %}
                    <h2 class="mb-4">Termin aktualisieren</h2>
                {% else %}
                    <h2 class="mb-4">Termin erstellen</h2>
                {% endif %}
                <p>Weit, weit entfernt, hinter den Wortbergen, fernab der Länder Vokalien und Konsonantien</p>
            </div>
        </div>
        <h3 class="vr">{{salon.data.onwer.phone}}</h3>
        <div class="row justify-content-center">
            <div class="col-md-8 ftco-animate">
                <form method="POST" class="appointment-form" action="{% if form.instance.pk %}{% url 'contact:appointment_update' pk=form.instance.pk %}{% else %}{% url 'contact:appointment_create' %}{% endif %}">
                    {% csrf_token %}
                    {% if form.errors %}
                       <div class="alert alert-danger" role="alert">
                           {{ form.errors }}
                       </div>
                    {% endif %}
                    {% if form.instance.pk %}
                        <input type="hidden" name="operation" value="update">
                    {% else %}
                        <input type="hidden" name="operation" value="create">
                    {% endif %}
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="id_name">Ihr Name</label>
                                {{ form.name }}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="id_email">Ihre E-Mail</label>
                                {{ form.email }}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="id_date">Bevorzugtes Datum</label>
                                {{ form.date }}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="id_time">Bevorzugte Uhrzeit</label>
                                {{ form.time }}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="id_barber">Friseur auswählen</label>
                                {{ form.barber }}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="id_service_type">Serviceart</label>
                                {{ form.service_type }}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="id_phone">Ihre Telefonnummer</label>
                                {{ form.phone }}
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="id_message">Zusätzliche Nachricht</label>
                                {{ form.message }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="{% if form.instance.pk %}Aktualisieren{% else %}Erstellen{% endif %} Termin" class="btn btn-primary rounded-pill">
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock body %}
