{% extends 'base.html' %}
{% load static %} 
{% block css %}
   <link rel="stylesheet" href="{% static 'css/style.css' %}">
   <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}">
{% endblock css %}
{% block body %}

<section id="appointments" class="ftco-section ftco-booking bg-light">
    <div class="container ftco-relative">
        <div class="row justify-content-center pb-3">
            <div class="col-md-10 heading-section text-center ftco-animate">
                <span class="subheading">Buchung</span>
                <h2 class="mb-4">Vereinbaren Sie einen Termin</h2>
                <p>Willkommen bei unserem Buchungsservice. Füllen Sie das Formular unten aus, um einen Termin zu vereinbaren, oder rufen Sie uns direkt an.</p>
            </div>
        </div>
        <h3 class="vr">Rufen Sie uns an: {{salon_data.owner.phone}}</h3>
        <div class="row justify-content-center">
            <div class="col-md-8 ftco-animate">
                <form method="POST" class="appointment-form" action="{% url 'contact:appointment_create' %}">
                    {% csrf_token %}
                    {% if form_errors %}
                        <div class="alert alert-danger" role="alert">
                            <strong>Error:</strong>
                            <ul>
                            {% for field, errors in form_errors.items %}
                                {% for error in errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                    <div id="message"></div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="id_name">Ihr Name</label>
                                {{ form.name }}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="id_email">Ihre E-Mail</label>
                                {{ form.email }}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="id_date">Bevorzugtes Datum</label>
                                {{ form.date }}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="id_time">Bevorzugte Zeit</label>
                                {{ form.time }}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="id_barber">Friseur auswählen</label>
                                {{ form.barber }}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="id_service_type">Dienstleistungsart</label>
                                    {{ form.service_type }}
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="id_phone">Ihr Telefon</label>
                                {{ form.phone }}
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="id_message">Zusätzliche Nachricht</label>
                                {{ form.message }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary rounded-pill">Termin vereinbaren</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>


{% endblock body %}
