{% extends 'base.html' %}
{% load static %} 
{% block css %}
   <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock css %}
{% block body %}

<section class="ftco-section ftco-booking bg-light">
  <div class="container ftco-relative">
    <h2>Termin löschen</h2>
    <p>Sind Sie sicher, dass Sie den Termin für {{ object.name }} mit {{ object.barber.name }} löschen möchten?</p>
    <form method="post" action="{% url 'contact:appointment_delete' pk=object.pk %}">
      {% csrf_token %}
      <button type="submit" class="btn btn-danger rounded-pill fa fa-trash"> Löschen </button>
      <a href="{% url 'contact:management' %}" class="btn btn-secondary rounded-pill">Abbrechen</a>
    </form>
  </div>
</section>
{% endblock body %}
