{% extends 'base.html' %}
{% load static %}

{% block css %}
   <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock css %}

{% block body %}

<section id="appointments" class="ftco-section ftco-booking bg-light">
    <div class="container ftco-relative">
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'success' %}
                    <div id="popup-message" class="alert alert-success" style="display: none;">
                        <section class="success-message">
                            <div class="container">
                                <h2>{{ message }}</h2>
                                <p>Wir haben Ihre Termin erhalten und werden uns so schnell wie möglich bei Ihnen melden.</p>
                                <p>Vielen Dank, dass Sie uns kontaktiert haben!</p>
                            </div>
                        </section>
                    </div>
                {% elif message.tags == 'error' %}
                    <div class="alert alert-danger">
                        <strong>Fehler:</strong> {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
        <div class="row justify-content-center pb-3">
            <div class="col-md-10 heading-section text-center ftco-animate">
                <span class="subheading">Buchung</span>
                <h2 class="mb-4">Vereinbaren Sie einen Termin</h2>
                <p>Willkommen bei unserem Buchungsservice. Füllen Sie das Formular unten aus, um einen Termin zu vereinbaren, oder rufen Sie uns direkt an.</p>
            </div>
        </div>
        <h3 class="vr">Rufen Sie uns an: {{salon_data.owner.phone}}</h3>
        <div class="row justify-content-center">
            <div class="col-md-8 ftco-animate">
                <form method="POST" class="appointment-form" action="{% url 'appointment' %}">
                    {% csrf_token %}
                    {% if form.errors %}
                        <div class="alert alert-danger" role="alert">
                            <ul>
                                {% for field in form %}
                                    {% for error in field.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="id_name">Ihr Name</label>
                                {{ form.name }}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="id_email">Ihre E-Mail</label>
                                {{ form.email }}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="id_date">Bevorzugtes Datum</label>
                                {{ form.date }}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="id_time">Bevorzugte Zeit</label>
                                {{ form.time }}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="id_barber">Friseur auswählen</label>
                                {{ form.barber }}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="id_service_type">Dienstleistungsart</label>
                                    {{ form.service_type }}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="id_phone">Ihr Telefon</label>
                                {{ form.phone }}
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="id_message">Zusätzliche Nachricht</label>
                                {{ form.message }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary rounded-pill">Termin vereinbaren</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<script>
    // Show the popup message when the page loads
    window.onload = function() {
        var popup = document.getElementById('popup-message');
        if (popup) {
            popup.style.display = 'block';
        }
    };

    // Function to display error message
    function displayError() {
        var errorMessage = '<div class="alert alert-danger" role="alert">Fehler beim Senden des Formulars. Bitte versuchen Sie es erneut.</div>';
        document.getElementById('message').innerHTML = errorMessage;
    }
</script>
{% endblock body %}
