{% extends 'base.html' %}
{% load static %}

{% block css %}
   <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock css %}

{% block body %}
  <div class="container my-5 py-5">
    <h2>Terminliste</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Friseur</th>
          <th>Datum</th>
          <th>Zeit</th>
          <th>Service-Typ</th>
          <th>Telefon</th>
          <th>E-Mail</th>
          <th>Nachricht</th>
        </tr>
      </thead>
      <tbody>
        {% for appointment in object_list %}
          <tr>
            <td>{{ appointment.name }}</td>
            <td>{{ appointment.barber.name }}</td>
            <td>{{ appointment.date }}</td>
            <td>{{ appointment.time }}</td>
            <td>{{ appointment.service_type }}</td>
            <td>{{ appointment.phone }}</td>
            <td>{{ appointment.email }}</td>
            <td>{{ appointment.message }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock body %}
