{% extends 'base.html' %}
{% load static %} 
{% block css %}
   <link rel="stylesheet" href="{% static 'css/style.css' %}">
   <style>
    /* Apply styles for scrollbars */
    .scrollable-list {
        max-height: 400px; /* Adjust the maximum height as needed */
        overflow-y: auto;
    }
</style>
{% endblock css %}
{% block body %}


<section class="hero-wrap hero-wrap-2" style="background-image: url('{% static 'images/m.jpg' %}');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
            <div class="col-md-9 ftco-animate pb-5 text-center">
                <h2 class="mb-0 bread">Management Suite</h2>
                <p class="breadcrumbs">
                    <span class="mr-2"><a href="/">Startseite <i class="ion-ios-arrow-round-forward"></i></a></span>
                    <span>Management <i class="ion-ios-arrow-round-forward"></i></span>
                </p>
            </div>
        </div>
    </div>
</section>


<div class="container py-5 my-5">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header bg-primary text-white">
            Eigentümerdetails
          </div>
          <div class="card-body">
            <h1 class="logo"><strong></strong><a href="#"><span class=""></span>{{ salon_data.owner.name }}</a> <a href="{% url 'contact:owner_update' pk=salon_data.owner.pk %}" style="color: gold;">
                <i class="fa fa-edit btn btn-primary rounded-pill"></i>
            </a></h1>
            <p class="icon icon-envelope"><strong> E-Mail: </strong> {{ salon_data.owner.email }}</p>
            <p class="icon icon-phone"><strong> Telefon: </strong> {{ salon_data.owner.phone }}</p>
            <p class="icon icon-map-marker"><strong> Adresse: </strong> {{ salon_data.owner.address }}</p>
            <p class="icon icon-link"><strong> Webseite: </strong> <a href="{{ salon_data.owner.website }}">{{salon_data.owner.website }}</a></p>
            <p><strong> Über: </strong> {{ salon_data.owner.about }} </p>
            <p class="icon icon-clock-o"><strong> Öffnungszeiten: </strong> {{ salon_data.owner.work_days }} von {{ salon_data.owner.opening_time|time:'H:i' }} bis {{ salon_data.owner.closing_time|time:'H:i' }} Sonntag: Geschloßen</p>
            <p class="logo"><strong> Logo: </strong><br>
            <img src="{{ salon_data.owner.logo.url }}" alt="{{ salon_data.owner.name }} Logo"></p>
            <!-- Add display for other fields as needed -->
          </div>
        </div>
      </div>
    </div>
  </div>


<div class="container my-5 py-5">
    <div class="row p-3">
        <div class="col-md-10 heading-section ftco-animate">
            <h2 class="">Terminverwaltung</h2> <!-- Appointment Management -->
        </div>
    </div>

    <!-- Appointment List -->
    <div class="row">
        <div class="col-md-6">
            <button type="button" class="btn btn-primary rounded-pill mt-3" data-toggle="modal" data-target="#create-appointment-modal">Termin erstellen</button> <!-- Create Appointment -->
        </div>
    </div>

    <style>
        .rounded-thead {
            border-radius: 20px; /* Adjust the radius as needed */
        }
    </style>
    
    <div class="appointment-list mt-3">
        <table class="table">
            <thead class="thead-dark rounded-thead">
                <tr>
                    <th>Name</th>
                    <th>Barbier</th> <!-- Barber -->
                    <th>Datum</th> <!-- Date -->
                    <th>Zeit</th> <!-- Time -->
                    <th>Dienstleistung</th> <!-- Service -->
                    <th>Telefon</th> <!-- Phone -->
                    <th>E-Mail</th> <!-- Email -->
                    <th>Nachricht</th> <!-- Message -->
                    <th>Aktion</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for appointment in appointment_list %}
                <div>
                    <ul class="scrollable-list">
                        <tr >
                            <td>{{ appointment.name }}</td>
                            <td>{{ appointment.barber.name }}</td>
                            <td>{{ appointment.date }}</td>
                            <td>{{ appointment.time }}</td>
                            <td>{{ appointment.service_type }}</td>
                            <td>{{ appointment.phone }}</td>
                            <td>{{ appointment.email }}</td>
                            <td>{{ appointment.message }}</td>
                            <td>
                                <a href="{% url 'contact:appointment_update' pk=appointment.pk %}" class="btn btn-primary fa fa-edit rounded-pill mr-1"></a> <!-- Edit -->
                                
                            </td>
                            <td>
                                <a href="{% url 'contact:appointment_delete' pk=appointment.pk %}" class="btn btn-danger fa fa-trash rounded-pill"></a> 
                            </td>
                        </tr>
                    </ul>
                </div>
                
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Create Appointment Modal -->
    <div id="create-appointment-modal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Termin erstellen</h5> <!-- Create Appointment -->
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- Appointment creation form -->
                    <form id="create-appointment-form" method="post" action="{% url 'contact:appointment_create' %}" hx-post hx-target=".appointment-list">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="id_name">Ihr Name</label> <!-- Your Name -->
                                    <input type="text" name="name" id="id_name" class="form-control">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="id_email">Ihre E-Mail</label> <!-- Your Email -->
                                    <input type="email" name="email" id="id_email" class="form-control">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="id_date">Bevorzugtes Datum</label> <!-- Preferred Date -->
                                    <input type="date" name="date" id="id_date" class="form-control">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="id_time">Bevorzugte Zeit</label> <!-- Preferred Time -->
                                    <input type="time" name="time" id="id_time" class="form-control">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="id_barber">Friseur auswählen</label> <!-- Select Barber -->
                                    <select name="barber" id="id_barber" class="form-control">
                                        {% for barber in barber_list  %}
                                        <option value="{{ barber.id }}">{{ barber.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="id_service_type">Art der Dienstleistung</label> <!-- Service Type -->
                                    <select name="service_type" id="id_service_type" class="form-control">
                                        {% for service in service_list  %}
                                        <option value="{{ service.id }}">{{ service.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="id_phone">Ihr Telefon</label> <!-- Your Phone -->
                                    <input type="tel" name="phone" id="id_phone" class="form-control" maxlength="15">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="id_message">Zusätzliche Nachricht</label> <!-- Additional Message -->
                                    <textarea name="message" id="id_message" class="form-control"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary rounded-pill">Termin vereinbaren</button> <!-- Make an Appointment -->
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    

    
    
</div>


<div class="container my-5 py-5">
    <div class="row p-3">
        <div class="col-md-10 heading-section ftco-animate">
            <h2 class="">Friseurverwaltung</h2> <!-- Barbers Management -->
        </div>
    </div>

    <!-- Barber List -->
    <form method="post" action="{% url 'contact:barber_create' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary rounded-pill">Erstellen</button> <!-- Create -->
    </form>
    <div class="row my-5">
        {% for barber in barber_list %}
            <div class="col-md-4 mb-4 scrollable-list">
                <div class="card h-100">
                    <img src="{{ barber.image.url }}" class="card-img-top barber-image" alt="{{ barber.name }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ barber.name }}</h5>
                        <p class="card-text">{{ barber.expertise }}</p>
                    </div>
                    <div class="btn-group" role="group">
                        <a href="{% url 'contact:barber_update' pk=barber.pk %}" class="btn btn-primary fa fa-edit rounded-pill mr-1"></a> <!-- Edit -->
                        <a href="{% url 'contact:barber_delete' pk=barber.pk %}" class="btn btn-danger fa fa-trash rounded-pill"></a> <!-- Delete -->
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="row">
        <div class="col-md-6">
            <button type="button" class="btn btn-primary rounded-pill mt-3" data-toggle="modal" data-target="#create-appointment-modal">Termin erstellen</button> <!-- Create Appointment -->
        </div>
    </div>
    <!-- Barber Appointments -->
    {% for barber in barber_list %}
    <h3>{{ barber.name }}'s Termine</h3> <!-- Barber's Appointments -->
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Name</th>
                <th>Datum</th>
                <th>Zeit</th>
                <th>Dienstleistung</th>
                <th>Telefon</th>
                <th>Aktion</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for appointment in appointment_list %}
                {% if appointment.barber == barber %}
                    <tr class="scrollable-list">
                        <td>{{ appointment.name }}</td>
                        <td>{{ appointment.date }}</td>
                        <td>{{ appointment.time }}</td>
                        <td>{{ appointment.service_type }}</td>
                        <td>{{ appointment.phone }}</td>
                        <td>
                            <a href="{% url 'contact:appointment_update' pk=appointment.pk %}" class="btn btn-primary fa fa-edit rounded-pill "></a>
                        </td>
                        <td>
                            <a href="{% url 'contact:appointment_delete' pk=appointment.pk %}" class="btn btn-danger fa fa-trash rounded-pill"></a>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
    {% endfor %}


    <!-- Update Barber Form (hidden by default) -->
    {% if update_form %}
        <h3>Friseur bearbeiten</h3> <!-- Edit Barber -->
        <form method="post" action="{% url 'contact:barber_update' pk=update_form.instance.pk %}">
            {% csrf_token %}
            {{ update_form.as_p }}
            <button type="submit" class="btn btn-primary rounded-pill">Aktualisieren</button> <!-- Update -->
        </form>
    {% endif %}

    <!-- Delete Barber Form (hidden by default) -->
    {% if delete_form %}
        <h3>Friseur löschen</h3> <!-- Delete Barber -->
        <form method="post" action="{% url 'contact:barber_delete' pk=delete_form.instance.pk %}">
            {% csrf_token %}
            {{ delete_form.as_p }}
            <button type="submit" class="btn btn-danger rounded-pill">Löschen</button> <!-- Delete -->
        </form>
    {% endif %}
</div>

<div class="container my-5 py-5">
    <div class="row p-3">
        <div class="col-md-10 heading-section ftco-animate">
            <h2 class="">Galerieverwaltung</h2> <!-- Gallery Management -->
        </div>
    </div>

    <!-- Create Link -->
    <a href="{% url 'contact:item_create' %}" class="btn btn-primary mb-3 rounded-pill">Neuen Artikel hinzufügen</a> <!-- Add New Item -->

    <!-- List Gallery Items as Cards -->
    <div class="row">
        {% for object in gallery_item_list %}
            <div class="col-md-6 col-lg-3 mb-4 scrollable-list">
                <div class="card h-100">
                    <img src="{{ object.image.url }}" class="card-img-top gallery-image" alt="{{ object.name }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ object.name }}</h5>
                        <p class="card-text">{{ object.description }}</p>
                        <!-- Add other fields as needed -->
                    </div>
                    <div class="btn-group" role="group">
                        <a href="{% url 'contact:item_update' pk=object.pk %}" class="btn btn-primary fa fa-edit rounded-pill mr-1"></a> <!-- Edit -->
                        <a href="{% url 'contact:item_delete' pk=object.pk %}" class="btn btn-danger fa fa-trash rounded-pill"></a> <!-- Delete -->
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <!-- Update and Delete Forms (hidden by default) -->
    {% if update_form or delete_form %}
        <div class="container my-5 py-5">
            <!-- Update Gallery Item Form (hidden by default) -->
            {% if update_form %}
                <h3>Galerieartikel bearbeiten</h3> <!-- Edit Gallery Item -->
                <form method="post" action="{% url 'contact:item_update' pk=update_form.instance.pk %}">
                    {% csrf_token %}
                    {{ update_form.as_p }}
                    <button type="submit" class="btn btn-primary rounded-pill">Aktualisieren</button> <!-- Update -->
                </form>
            {% endif %}

            <!-- Delete Gallery Item Form (hidden by default) -->
            {% if delete_form %}
                <h3>Galerieartikel löschen</h3> <!-- Delete Gallery Item -->
                <form method="post" action="{% url 'contact:item_delete' pk=delete_form.instance.pk %}">
                    {% csrf_token %}
                    {{ delete_form.as_p }}
                    <button type="submit" class="btn btn-danger rounded-pill">Löschen</button> <!-- Delete -->
                </form>
            {% endif %}
        </div>
    {% endif %}
</div>

<style>

.gallery-image, .barber-image {
    height: 200px;
    object-fit: cover;
}

</style>

<div class="container my-5 py-5">
    <div class="row p-3">
        <div class="col-md-10 heading-section ftco-animate">
            <h2 class="">Bewertungsverwaltung</h2> <!-- Review Management -->
            <div class="row my-1">
                <form method="post" action="{% url 'contact:review_create' %}">
                  {% csrf_token %}
                  {{ form.as_p }}
                  <button type="submit" class="btn btn-primary rounded-pill mt-5">Bewertung hinzufügen</button> <!-- Add Review -->
                </form>
              </div>
        </div>
    </div>

    <!-- List Reviews as Table -->
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Kundenname</th> <!-- Customer Name -->
                <th>Friseur</th> <!-- Barber -->
                <th>Bewertung</th> <!-- Rating -->
                <th>Kommentar</th> <!-- Comment -->
                <th>Aktion</th>
                <th></th> <!-- Action -->
            </tr>
        </thead>
        <tbody>
            {% for review in review_list %}
                <tr class="scrollable-list">
                    <td>{{ review.customer_name }}</td>
                    <td>{{ review.barber.name }}</td>
                    <td>
                        <div class="star-rating">
                            {% for _ in "12345" %}
                                {% if forloop.counter <= review.rating %}
                                    <span class="fa fa-star"></span>
                                {% else %}
                                    <span class="fa fa-star-o"></span>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </td>
                    <td>{{ review.comment }}</td>
                    <td class="action-links">
                        <a href="{% url 'contact:review_update' pk=review.pk %}" style="color: gold;"><i class="fa fa-edit btn btn-primary rounded-pill"></i></a> <!-- Edit -->
                        
                    </td>
                    <td><a href="{% url 'contact:review_delete' pk=review.pk %}" style="color: red;"><i class="fa fa-trash btn btn-danger rounded-pill"></i></a> <!-- Delete --></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


<div class="container my-5 py-5">
    <div class="row p-3">
        <div class="col-md-10 heading-section ftco-animate">
            <h2 class="">Preiseverwaltung</h2> <!-- Price Management -->
            <div class="row my-1 py-1">
                <form method="post" action="{% url 'contact:service_create' %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary rounded-pill mt-5 m-1">Service hinzufügen</button> <!-- Add Review -->
                </form>
                <form method="post" action="{% url 'contact:category_create' %}">
                    {% csrf_token %}
                    {{ category_form.as_p }}
                    <button type="submit" class="btn btn-primary rounded-pill mt-5">Kategorie hinzufügen</button> <!-- Add Category -->
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        {% for category in category_list %}
        <div class="col-md-4 ftco-animate">
            <div class="pricing-entry pb-5 text-center">
                <div>
                    <h3 class="mb-4">{{ category.name }}</h3>
                    <a href="{% url 'contact:category_update' pk=category.pk %}" class="btn btn-primary fa fa-edit rounded-pill"></a> <!-- Edit Category -->
                    <a href="{% url 'contact:category_delete' pk=category.pk %}" class="btn btn-danger fa fa-trash rounded-pill"></a> <!-- Delete Category -->
                </div>
                <div class="scrollable-list">
                    <ul>
                        {% for service in category.service_category.all %}
                        <li>
                            <p><span class="price">{{ service.name }}</span> <span class="per">/€{{ service.price }}</span></p>
                            <div class="btn-group" role="group">
                                <a href="{% url 'contact:service_update' pk=service.pk %}" class="btn btn-primary fa fa-edit rounded-pill mr-1"></a> <!-- Edit -->
                                <a href="{% url 'contact:service_delete' pk=service.pk %}" class="btn btn-danger fa fa-trash rounded-pill"></a> <!-- Delete -->
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<style>
    .scrollable-list {
        max-height: 400px;
        overflow-y: auto;
    }
</style>


<!-- Update Service Form (hidden by default) -->
{% if update_form %}
    <div class="container my-5 py-5">
        <h3>Dienstleistung bearbeiten</h3> <!-- Edit Service -->
        <form method="post" action="{% url 'contact:service_update' pk=update_form.instance.pk %}">
            {% csrf_token %}
            {{ update_form.as_p }}
            <button type="submit" class="btn btn-primary rounded-pill">Aktualisieren</button> <!-- Update -->
        </form>
    </div>
{% endif %}

<!-- Delete Service Form (hidden by default) -->
{% if delete_form %}
    <div class="container my-5 py-5">
        <h3>Dienstleistung löschen</h3> <!-- Delete Service -->
        <form method="post" action="{% url 'contact:service_delete' pk=delete_form.instance.pk %}">
            {% csrf_token %}
            {{ delete_form.as_p }}
            <button type="submit" class="btn btn-danger rounded-pill">Löschen</button> <!-- Delete -->
        </form>
    </div>
{% endif %}

{% endblock body %}
