{% extends 'base.html' %}
{% load static %} 
{% block css %}
   <link rel="stylesheet" href="{% static 'css/style.css' %}">
   <link rel="stylesheet" href="{% static 'css/custom.css' %}">
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/fontawesome/4.7.0/css/font-awesome.min.css">
   <style>
    .appointment-list table,
    .message-list table,
    .review-list-container table,
    .barber-appointment-list table {
        
        overflow-x: auto;
        white-space: nowrap;
    }

    .appointment-list table{
        white-space: normal;
    }

    .long-text {
        white-space: normal;
    }

    .appointment-list,
    .message-list,
    .appointment-list-container,
    .review-list-container,
    .barber-appointment-list-container {
        max-height: 400px;
        overflow-y: auto;
    }


    /* Adjustments for scrollable list */
    .scrollable-list {
        display: auto;
        max-height: 400px;
        overflow-y: auto;
        overflow-x: auto;
    }

    /* Sticky header */
    .sticky-header {
        position: sticky;
        top: 0;
        z-index: 1000;
    }

    /* CSS for Mobile Devices */
    @media only screen and (max-width: 767px) {
        /* Adjustments for hero section */
        .hero-wrap {
        height: 300px;
        background-size: cover;
        }
    
        /* Adjustments for card layout */
        .card {
        margin: 0 auto;
        width: 100%;
        }
    }
    
    /* CSS for Tablets */
    @media only screen and (min-width: 768px) and (max-width: 991px) {
        /* Add your tablet-specific CSS here */
    }
    
    /* CSS for Small Desktops */
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
        /* Add your small desktop-specific CSS here */
    }
    
    /* CSS for Large Desktops and Above */
    @media only screen and (min-width: 1200px) {
        /* Add your large desktop-specific CSS here */
    }

    .btn {
        display: inline-block;
        padding: 10px 20px;
        font-size: 16px;
        font-weight: bold;
        text-decoration: none;
        border-radius: 5px;
        color: #fff;
        border: 2px solid transparent;
        transition: all 0.3s ease;
    }

    /* Hover effect */
    .btn:hover {
        background-color: #red; /* Lighter gold */
        color: #black;
        border-color: #darkred; /* Lighter gold */
    }

    /* Cancel button */
    .btn-cancel {
        background-color: red;
        border-color: darkred;
    }

    .btn-cancel:hover {
        background-color: darkred;
        border-color: red;
    }

    /* Add button */
    .btn-add {
        background-color: goldenrod;
        border-color: darkgoldenrod;
    }

    .btn-add:hover {
        background-color: darkgoldenrod;
        border-color: goldenrod;
    }

    /* Text color for delete button */
    .btn-delete .btn-text {
        color: red;
    }

    /* Text color for add button */
    .btn-add .btn-text {
        color: gold;
    }

    .gallery-image, .barber-image {
        height: 200px;
        object-fit: cover;
    }

    .btn-group{
        margin: 0px 0px 9px 0px;
        margin-right: 12px;
        margin-left: 12px;
    }
    
</style>
{% endblock css %}
{% block body %}



<section class="hero-wrap hero-wrap-2" style="background-image: url('{% static 'images/m.jpg' %}');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
            <div class="col-md-9 ftco-animate pb-5 text-center">
                <h2 class="mb-0 bread">Management Suite</h2>
                <p class="breadcrumbs">
                    <span class="mr-2"><a href="/">Startseite <i class="ion-ios-arrow-round-forward"></i></a></span>
                    <span>Management <i class="ion-ios-arrow-round-forward"></i></span>
                </p>
            </div>
        </div>
    </div>
</section>


<div id=owner_m class="container py-5 my-5">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
            <div class="mb-4 mt-3 ml-3" id="login-btn" ">
                {% if not user.is_authenticated %}
                <a class="btn btn-add rounded-pill" href="{% url 'accounts:account_login' %}"><span class="icon icon-account_circle"> Einloggen </span></a>
                {% elif  user.is_authenticated %}
                <a class="btn btn-cancel rounded-pill" href="{% url 'accounts:account_logout' %}"><span class="icon icon-account_circle"> Ausloggen </span></a>
                {% endif %}
            </div>
          <div class="card-header bg-primary text-white">
            Eigentümerdetails
          </div>
          <div class="card-body">
            {% if  user.is_authenticated %}
            <h1 class="logo"><strong></strong><a href="#"><span class=""></span>{{ salon_data.owner.name }}</a> <a href="{% url 'contact:owner_update' pk=salon_data.owner.pk %}" style="color: gold;">
                <i class="fa fa-edit btn btn-add rounded-pill"></i></a>
            {% endif %}  
    
            </h1>
            <p class="icon icon-envelope"><strong> E-Mail: </strong> {{ salon_data.owner.email }}</p>
            <p class="icon icon-phone"><strong> Telefon: </strong> {{ salon_data.owner.phone }}</p>
            <p class="icon icon-map-marker"><strong> Adresse: </strong> {{ salon_data.owner.address }}</p>
            <p class="icon icon-link"><strong> Webseite: </strong> <a href="{{ salon_data.owner.website }}">{{salon_data.owner.website }}</a></p>
            <p class="icon icon-clock-o"><strong> Öffnungszeiten: </strong> {{ salon_data.owner.work_days }} von {{ salon_data.owner.opening_time|time:'H:i' }} bis {{ salon_data.owner.closing_time|time:'H:i' }} Sonntag: Geschloßen</p>
            <p><strong> Über: </strong> {{ salon_data.owner.about }} </p>
            <span class="icon icon-confirmation_number"> Register Nummer: </span><span class="text">{{ salon_data.owner.tax_id }}</span>
            <p class="logo"><strong> Logo: </strong><br>
            <img src="{{ salon_data.owner.logo.url }}" alt="{{ salon_data.owner.name }} Logo"></p>
            <!-- Add display for other fields as needed -->
          </div>
        </div>
      </div>
    </div>
  </div>


<div id=appointment_m class="container my-5 py-5">
    <div class="row">
        <div class="col-md-10 heading-section ftco-animate">
            <h2 class="">Terminverwaltung</h2> <!-- Appointment Management -->
        </div>
    </div>
    {% if user.is_authenticated %}
    <a class="btn btn-add rounded-pill mt-3 mb-3" href="{% url 'contact:appointment_create' %}"> Termin erstellen </a>
    {% elif not user.is_authenticated %}
    <a class="btn btn-add rounded-pill mt-3" href="{% url 'accounts:account_login' %}"><span class="icon icon-account_circle"> Einloggen </span></a>
    {% endif %}
    <!-- Appointment List -->
    <div class="appointment-list">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Name</th>
                    <th>Friseur</th> <!-- Barber -->
                    <th>Datum</th> <!-- Date -->
                    <th>Zeit</th> <!-- Time -->
                    <th>Dienstleistung</th> <!-- Service -->
                    <th>Telefon</th> <!-- Phone -->
                    <th>E-Mail</th> <!-- Email -->
                    <th>Nachricht</th> <!-- Message -->
                    <th>Aktion</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for appointment in appointment_list %}
                <div>
                    <ul>
                        <tr >
                            <td>{{ appointment.name }}</td>
                            <td>{{ appointment.barber.name }}</td>
                            <td>{{ appointment.date }}</td>
                            <td>{{ appointment.time }}</td>
                            <td>{{ appointment.service_type }}</td>
                            <td>{{ appointment.phone }}</td>
                            <td>{{ appointment.email }}</td>
                            <td>{{ appointment.message }}</td>
                            <td>
                                {% if user.is_authenticated %}
                                <a href="{% url 'contact:appointment_update' pk=appointment.pk %}" class="btn btn-add fa fa-edit rounded-pill mr-1"></a> <!-- Edit -->
                                
                            </td>
                            <td>
                                <a href="{% url 'contact:appointment_delete' pk=appointment.pk %}" class="btn btn-cancel fa fa-trash rounded-pill"></a> 
                                {% elif not user.is_authenticated %}
                                <a class="btn btn-add rounded-pill" href="{% url 'accounts:account_login' %}"><span class="icon icon-account_circle"> Einloggen </span></a>
                                {% endif %}
                            </td>
                        </tr>
                    </ul>
                </div>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <!-- Create Appointment Modal -->
    <div id="create-appointment-modal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Termin erstellen</h5> <!-- Create Appointment -->
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="max-height: 70vh; overflow-y: auto;">
                    <!-- Appointment creation form -->
                    <form id="create-appointment-form" method="post" action="{% url 'contact:create_appointment' %}" hx-post hx-target=".appointment-list">
                        {% csrf_token %}
                        {% if messages %}
                            {% for message in messages %}
                                {% if message.tags == 'success' %}
                                    <div class="alert alert-success" role="alert">
                                        {{ message }}
                                    </div>
                                {% elif message.tags == 'error' %}
                                    <div class="alert alert-danger" role="alert">
                                        {{ message }}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        <div id="message"></div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="id_name">Ihr Name</label> <!-- Your Name -->
                                    <input type="text" name="name" id="id_name" class="form-control">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="id_email">Ihre E-Mail</label> <!-- Your Email -->
                                    <input type="email" name="email" id="id_email" class="form-control">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="id_date">Bevorzugtes Datum</label> <!-- Preferred Date -->
                                    <input type="date" name="date" id="id_date" class="form-control">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="id_time">Bevorzugte Zeit</label> <!-- Preferred Time -->
                                    <input type="time" name="time" id="id_time" class="form-control">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="id_barber">Friseur auswählen</label> <!-- Select Barber -->
                                    <select name="barber" id="id_barber" class="form-control">
                                        {% for barber in barber_list  %}
                                        <option value="{{ barber.id }}">{{ barber.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="id_service_type">Art der Dienstleistung</label> <!-- Service Type -->
                                    <select name="service_type" id="id_service_type" class="form-control">
                                        {% for service in service_list  %}
                                        <option value="{{ service.id }}">{{ service.name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="id_phone">Ihr Telefon</label> <!-- Your Phone -->
                                    <input type="tel" name="phone" id="id_phone" class="form-control" maxlength="15">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="id_message">Zusätzliche Nachricht</label> <!-- Additional Message -->
                                    <textarea name="message" id="id_message" class="form-control"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-add rounded-pill">Termin vereinbaren</button> <!-- Make an Appointment -->
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
</div>

<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script>
    $(document).ready(function() {
        // Handle form submission using AJAX when form is submitted
        $(document).on('submit', '#create-appointment-form', function(event) {
            event.preventDefault();
            var formData = $(this).serialize();
            $.ajax({
                type: $(this).attr('method'),
                url: $(this).attr('action'),
                data: formData,
                dataType: 'json',
                headers: {'X-CSRFToken': '{{ csrf_token }}'},
                success: function(response) {
                    // Update only the message div with success message
                    $('#message').html('<div class="alert alert-success" role="alert">' + response.message + '</div>');
                    // Update the appointment list with the new data
                    $('#appointment_list_html').html(response.appointment_list_html);
                    $('#create-appointment-modal').modal('hide');
                    $('#create-appointment-form')[0].reset();
                },
                error: function(xhr, status, error) {
                    // Display error message
                    $('#message').html('<div class="alert alert-danger" role="alert">' + xhr.responseJSON.message + '</div>');
                },
                complete: function() {
                    // Scroll to the top of the message div
                    $('html, body').animate({
                        scrollTop: $('#message').offset().top
                    }, 'slow');
                }
            });
        });
    });
</script>

<div id="message_list" class="container my-5 py-5">
    <div class="row ">
        <div class="col-md-10 heading-section ftco-animate">
            <h2 class="">Nachrichtenliste</h2> <!-- Message List -->
        </div>
    </div>

    <!-- Message List -->
    <div class="message-list mt-3">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Name</th>
                    <th>E-Mail</th>
                    <th>Telefon</th>
                    <th>Nachricht</th>
                    <th>Zeitstempel</th> <!-- Timestamp -->
                    <th>Aktion</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for message in message_list %}
                <tr>
                    <td>{{ message.name }}</td>
                    <td>{{ message.email }}</td>
                    <td>{{ message.phone }}</td>
                    <td>{{ message.message }}</td>
                    <td>{{ message.timestamp }}</td>
                    <td>
                        {% if user.is_authenticated %}
                        <a href="{% url 'contact:message_delete' pk=message.pk %}" class="btn btn-cancel fa fa-trash rounded-pill"></a> <!-- Delete -->
                        {% elif not user.is_authenticated %}
                        <a class="btn btn-add rounded-pill" href="{% url 'accounts:account_login' %}"><span class="icon icon-account_circle"> Einloggen </span></a>
                        {% endif %}
                    </td>
                    <td>

                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


<div id=barber_m class="container my-5 py-5">
    <div class="row ">
        <div class="col-md-10 heading-section ftco-animate">
            <h2 class="">Friseurverwaltung</h2> <!-- Barbers Management -->
        </div>
    </div>

    <!-- Barber List -->
    
        {% if user.is_authenticated %}
        <a class="btn btn-add rounded-pill mt-3" href="{% url 'contact:barber_create' %}"> Erstellen </a>
        {% elif not user.is_authenticated %}
        <a class="btn btn-add rounded-pill" href="{% url 'accounts:account_login' %}"><span class="icon icon-account_circle"> Einloggen </span></a>
        {% endif %}

    <div class="row my-5">
        {% for barber in barber_list %}
            <div class="col-md-4 mb-4 scrollable-list">
                <div class="card h-100">
                    <img src="{{ barber.image.url }}" class="card-img-top barber-image" alt="{{ barber.name }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ barber.name }}</h5>
                        <p class="card-text">{{ barber.expertise }}</p>
                    </div>
                    <div class="btn-group" role="group">
                        {% if user.is_authenticated %}
                        <a href="{% url 'contact:barber_update' pk=barber.pk %}" class="btn btn-add fa fa-edit rounded-pill mr-2"></a> <!-- Edit -->
                        <a href="{% url 'contact:barber_delete' pk=barber.pk %}" class="btn btn-cancel fa fa-trash rounded-pill"></a> <!-- Delete -->
                        {% elif not user.is_authenticated %}
                        <a class="btn btn-add rounded-pill" href="{% url 'accounts:account_login' %}"><span class="icon icon-account_circle"> Einloggen </span></a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <div class="row">
        <div class="col-md-6">
            {% if user.is_authenticated %}
            <button type="button" class="btn btn-add rounded-pill mt-3 mb-3" data-toggle="modal" data-target="#create-appointment-modal">Termin erstellen</button> <!-- Create Appointment -->
            {% elif not user.is_authenticated %}
            <a class="btn btn-add rounded-pill mt-3" href="{% url 'accounts:account_login' %}"><span class="icon icon-account_circle"> Einloggen </span></a>
            {% endif %}
        </div>
    </div>
    <!-- Barber Appointments -->
    {% for barber in barber_list %}
        <h3>{{ barber.name }}'s Termine</h3>
        
        <h4>Bevorstehende Termine</h4>
        <div class="appointment-list-container mt-3">
            <table id=barber_appointment_m class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>Name</th>
                        <th>Datum</th>
                        <th>Zeit</th>
                        <th>Dienstleistung</th>
                        <th>Telefon</th>
                        <th>Aktion</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for appointment in upcoming_appointments %}
                        {% if appointment.barber == barber %}
                            <tr>
                                <td>{{ appointment.name }}</td>
                                <td>{{ appointment.date }}</td>
                                <td>{{ appointment.time }}</td>
                                <td>{{ appointment.service_type }}</td>
                                <td>{{ appointment.phone }}</td>
                                <td>
                                    {% if user.is_authenticated %}
                                        <a href="{% url 'contact:appointment_update' pk=appointment.pk %}" class="btn btn-add fa fa-edit rounded-pill "></a>
                                    </td>
                                    <td>
                                        <a href="{% url 'contact:appointment_delete' pk=appointment.pk %}" class="btn btn-cancel fa fa-trash rounded-pill"></a>
                                    {% else %}
                                        <a class="btn btn-add rounded-pill" href="{% url 'accounts:account_login' %}"><span class="icon icon-account_circle">Einloggen</span></a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <h4>Erledigte Termine</h4>
        <div class="appointment-list-container mt-3">
            <table id=barber_appointment_m class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>Name</th>
                        <th>Datum</th>
                        <th>Zeit</th>
                        <th>Dienstleistung</th>
                        <th>Telefon</th>
                        <th>Aktion</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for appointment in done_appointments %}
                        {% if appointment.barber == barber %}
                            <tr>
                                <td>{{ appointment.name }}</td>
                                <td>{{ appointment.date }}</td>
                                <td>{{ appointment.time }}</td>
                                <td>{{ appointment.service_type }}</td>
                                <td>{{ appointment.phone }}</td>
                                <td>
                                    {% if user.is_authenticated %}
                                        <a href="{% url 'contact:appointment_update' pk=appointment.pk %}" class="btn btn-add fa fa-edit rounded-pill "></a>
                                    </td>
                                    <td>
                                        <a href="{% url 'contact:appointment_delete' pk=appointment.pk %}" class="btn btn-cancel fa fa-trash rounded-pill"></a>
                                    {% else %}
                                        <a class="btn btn-add rounded-pill" href="{% url 'accounts:account_login' %}"><span class="icon icon-account_circle">Einloggen</span></a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endfor %}


    <!-- Update Barber Form (hidden by default) -->
    {% if update_form %}
        <h3>Friseur bearbeiten</h3> <!-- Edit Barber -->
        <form method="post" action="{% url 'contact:barber_update' pk=update_form.instance.pk %}">
            {% csrf_token %}
            {{ update_form.as_p }}
            <button type="submit" class="btn btn-add rounded-pill">Aktualisieren</button> <!-- Update -->
        </form>
    {% endif %}

    <!-- Delete Barber Form (hidden by default) -->
    {% if delete_form %}
        <h3>Friseur löschen</h3> <!-- Delete Barber -->
        <form method="post" action="{% url 'contact:barber_delete' pk=delete_form.instance.pk %}">
            {% csrf_token %}
            {{ delete_form.as_p }}
            <button type="submit" class="btn btn-cancel rounded-pill">Löschen</button> <!-- Delete -->
        </form>
    {% endif %}
</div>

<div id=item_m class="container my-5 py-5">
    <div class="row ">
        <div class="col-md-10 heading-section ftco-animate">
            <h2 class="">Galerieverwaltung</h2> <!-- Gallery Management -->
        </div>
    </div>

    <!-- Create Link -->
    {% if user.is_authenticated %}
    <a href="{% url 'contact:item_create' %}" class="btn btn-add mt-3 mb-3 rounded-pill">Neuen Artikel hinzufügen</a> <!-- Add New Item -->
    {% elif not user.is_authenticated %}
    <a class="btn btn-add rounded-pill mb-3" href="{% url 'accounts:account_login' %}"><span class="icon icon-account_circle"> Einloggen </span></a>
    {% endif %}
    <!-- List Gallery Items as Cards -->
    <div class="row">
        {% for object in gallery_item_list %}
            <div class="col-md-6 col-lg-3 mb-4 scrollable-list">
                <div class="card h-100">
                    <img src="{{ object.image.url }}" class="card-img-top gallery-image" alt="{{ object.name }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ object.name }}</h5>
                        <p class="card-text">{{ object.description }}</p>
                        <!-- Add other fields as needed -->
                    </div>
                    <div class="btn-group" role="group">
                        {% if user.is_authenticated %}
                        <a href="{% url 'contact:item_update' pk=object.pk %}" class="btn btn-add fa fa-edit rounded-pill mr-2"></a> <!-- Edit -->
                        <a href="{% url 'contact:item_delete' pk=object.pk %}" class="btn btn-cancel fa fa-trash rounded-pill"></a> <!-- Delete -->
                        {% elif not user.is_authenticated %}
                        <a class="btn btn-add rounded-pill" href="{% url 'accounts:account_login' %}"><span class="icon icon-account_circle"> Einloggen </span></a>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    <!-- Update and Delete Forms (hidden by default) -->
    {% if update_form or delete_form %}
        <div class="container my-5 py-5">
            <!-- Update Gallery Item Form (hidden by default) -->
            {% if update_form %}
                <h3>Galerieartikel bearbeiten</h3> <!-- Edit Gallery Item -->
                <form method="post" action="{% url 'contact:item_update' pk=update_form.instance.pk %}">
                    {% csrf_token %}
                    {{ update_form.as_p }}
                    <button type="submit" class="btn btn-add rounded-pill">Aktualisieren</button> <!-- Update -->
                </form>
            {% endif %}

            <!-- Delete Gallery Item Form (hidden by default) -->
            {% if delete_form %}
                <h3>Galerieartikel löschen</h3> <!-- Delete Gallery Item -->
                <form method="post" action="{% url 'contact:item_delete' pk=delete_form.instance.pk %}">
                    {% csrf_token %}
                    {{ delete_form.as_p }}
                    <button type="submit" class="btn btn-cancel rounded-pill">Löschen</button> <!-- Delete -->
                </form>
            {% endif %}
        </div>
    {% endif %}
</div>



<div id=review_m class="container my-5 py-5">
    <div class="row ">
        <div class="col-md-10 heading-section ftco-animate">
            <h2 class="">Bewertungsverwaltung</h2>           
        </div>
    </div>
    {% if user.is_authenticated %}
    <a href="{% url 'contact:review_create' %}" class="btn btn-add mt-3 mb-3 rounded-pill">Bewertung hinzufügen</a> <!-- Add New Item -->
    {% elif not user.is_authenticated %}
    <a class="btn btn-add rounded-pill mb-3" href="{% url 'accounts:account_login' %}"><span class="icon icon-account_circle"> Einloggen </span></a>
    {% endif %}
    <!-- List Reviews as Table -->
    <div class="review-list-container">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Kundenname</th> <!-- Customer Name -->
                    <th>Friseur</th> <!-- Barber -->
                    <th>Bewertung</th> <!-- Rating -->
                    <th>Kommentar</th> <!-- Comment -->
                    <th>Aktion</th>
                    <th></th> <!-- Action -->
                </tr>
            </thead>
            <tbody>
                {% for review in review_list %}
                    <tr >
                        <td>{{ review.customer_name }}</td>
                        <td>{{ review.barber.name }}</td>
                        <td>
                            <div class="star-rating">
                                {% for _ in "12345" %}
                                    {% if forloop.counter <= review.rating %}
                                        <span class="fa fa-star"></span>
                                    {% else %}
                                        <span class="fa fa-star-o"></span>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </td>
                        <td class="long-text">{{ review.comment }}</td>
                        <td class="action-links">
                            {% if user.is_authenticated %}
                            <a href="{% url 'contact:review_update' pk=review.pk %}" style="color: gold;"><i class="fa fa-edit btn btn-add rounded-pill"></i></a> <!-- Edit -->
                            
                        </td>
                        <td>
                            <a href="{% url 'contact:review_delete' pk=review.pk %}" style="color: red;"><i class="fa fa-trash btn btn-cancel rounded-pill"></i></a> <!-- Delete -->
                            {% elif not user.is_authenticated %}
                            <a class="btn btn-add rounded-pill" href="{% url 'accounts:account_login' %}"><span class="icon icon-account_circle"> Einloggen </span></a>
                            {% endif %}
                        </td>
                        
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>


<div id=price_m class="container my-5 py-5">
    <div class="row ">
        <div class="col-md-10 heading-section ftco-animate">
            <h2 class="">Preiseverwaltung</h2> <!-- Price Management -->
        </div>
    </div>
    {% if user.is_authenticated %}
    <a href="{% url 'contact:category_create' %}" class="btn btn-add mt-3 mb-3 rounded-pill">Kategorie hinzufügen</a> 
    <a href="{% url 'contact:service_create' %}" class="btn btn-add mt-3 mb-3 rounded-pill">Service hinzufügen</a><!-- Add New Item -->
    {% elif not user.is_authenticated %}
    <a class="btn btn-add rounded-pill mb-3" href="{% url 'accounts:account_login' %}"><span class="icon icon-account_circle"> Einloggen </span></a>
    {% endif %}
    <div class="row">
        {% for category in category_list %}
        <div class="col-md-4 ftco-animate">
            <div class="pricing-entry pb-5 text-center">
                <div>
                    <h3 class="mb-4">Kategorie: {{ category.name }}</h3>
                    {% if user.is_authenticated %}
                    <a href="{% url 'contact:category_update' pk=category.pk %}" class="btn btn-add fa fa-edit rounded-pill"></a> <!-- Edit Category -->
                    <a href="{% url 'contact:category_delete' pk=category.pk %}" class="btn btn-cancel fa fa-trash rounded-pill"></a> <!-- Delete Category -->
                    {% elif not user.is_authenticated %}
                    <a class="btn btn-add rounded-pill" href="{% url 'accounts:account_login' %}"><span class="icon icon-account_circle"> Einloggen </span></a>
                    {% endif %}
                </div>
                <div class="scrollable-list">
                    <ul> services:
                        {% for service in category.service_category.all %}
                        <li>
                            <p><span class="price">{{ service.name }}</span> <span class="per">/€{{ service.price }}</span></p>
                            <div class="btn-group" role="group">
                                {% if user.is_authenticated %}
                                <a href="{% url 'contact:service_update' pk=service.pk %}" class="btn btn-add fa fa-edit rounded-pill mr-1"></a> <!-- Edit -->
                                <a href="{% url 'contact:service_delete' pk=service.pk %}" class="btn btn-cancel fa fa-trash rounded-pill"></a> <!-- Delete -->
                                {% elif not user.is_authenticated %}
                                <a class="btn btn-add rounded-pill" href="{% url 'accounts:account_login' %}"><span class="icon icon-account_circle"> Einloggen </span></a>
                                {% endif %}
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<style>
    .scrollable-list {
        max-height: 400px;
        overflow-y: auto;
    }
</style>


<!-- Update Service Form (hidden by default) -->
{% if update_form %}
    <div class="container my-5 py-5">
        <h3>Dienstleistung bearbeiten</h3> <!-- Edit Service -->
        <form method="post" action="{% url 'contact:service_update' pk=update_form.instance.pk %}">
            {% csrf_token %}
            {{ update_form.as_p }}
            <button type="submit" class="btn btn-add rounded-pill">Aktualisieren</button> <!-- Update -->
        </form>
    </div>
{% endif %}

<!-- Delete Service Form (hidden by default) -->
{% if delete_form %}
    <div class="container my-5 py-5">
        <h3>Dienstleistung löschen</h3> <!-- Delete Service -->
        <form method="post" action="{% url 'contact:service_delete' pk=delete_form.instance.pk %}">
            {% csrf_token %}
            {{ delete_form.as_p }}
            <button type="submit" class="btn btn-cancel rounded-pill">Löschen</button> <!-- Delete -->
        </form>
    </div>
{% endif %}

{% endblock body %}
