{% extends 'base.html' %}
{% load static %}

{% block body %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock css %}

<section class="ftco-section ftco-pricing">
    <div class="container">
        <div class="row justify-content-center pb-3">
            <div class="col-md-10 heading-section text-center ftco-animate">
                <span class="subheading">Pricing</span>
                <h2 class="mb-4">Our Prices</h2>
                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>
            </div>
        </div>
        <div class="row">
            {% for service in services %}
            <div class="col-md-4 ftco-animate">
                <div class="pricing-entry pb-5 text-center">
                    <div>
                        <h3 class="mb-4">{{ service.category }}</h3>
                    </div>
                    <ul>
                        {% for sub_service in service.sub_services.all %}
                        <li>{{ sub_service.name }}</li>
                        <p><span class="price">${{ sub_service.price }}</span> <span class="per">/</span></p>
                        {% endfor %}
                    </ul>
                    <p class="button text-center"><a href="#" class="btn btn-primary px-4 py-3">Get Offer</a></p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock body %}
