{% extends 'base.html' %}
{% load static %}
{% block css %}
   <link rel="stylesheet" href="{% static 'css/style.css' %}">
   <link rel="stylesheet" href="{% static 'css/custom.css' %}">
   <style>
      /* Add your custom styling here */
      .card {
         margin-top: 50px;
      }
      .form-group {
         margin-bottom: 20px;
      }
      .text-danger {
         font-size: 80%;
      }
   </style>
{% endblock css %}

{% block body %}
  <div class="container mt-5 mb-5">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h4 class="mb-0">{{ _('Login') }}</h4>
          </div>
          <div class="card-body">
            <form method="post" class="form">
              {% csrf_token %}
              {% if messages %}
                {% for message in messages %}
                  <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                {% endfor %}
              {% endif %}
              {{ form.non_field_errors }}
              <div class="form-group">
                <label for="{{ form.username.id_for_label }}">{{ _('Username') }}</label>
                {{ form.username }}
                {% if form.username.errors %}
                  <span class="text-danger">{{ form.username.errors.0 }}</span>
                {% endif %}
              </div>
              <div class="form-group">
                <label for="{{ form.password.id_for_label }}">{{ _('Password') }}</label>
                {{ form.password }}
                {% if form.password.errors %}
                  <span class="text-danger">{{ form.password.errors.0 }}</span>
                {% endif %}
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-add rounded-pill">{{ _('Login') }}</button>
              </div>
            </form>
            <div class="form-group">
              <a href="{% url 'accounts:account_reset_password' %}">{{ _('Forgot Password') }}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock body %}
