{% extends 'base.html' %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <!-- Add the following link for star rating -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/fontawesome/4.7.0/css/font-awesome.min.css">
  <style>
    .star-rating span { font-size: 20px; color: #ffca08; }
    .action-links a {
      margin-right: 10px;
      color: #007bff;
    }
    .action-links a:hover {
      color: #0056b3;
      text-decoration: none;
    }
  </style>
{% endblock css %}

{% block body %}

<div class="container my-5 py-5">
  <h2>Review Management</h2>

  <!-- List Reviews as Table -->
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th>Customer Name</th>
        <th>Barber</th>
        <th>Rating</th>
        <th>Comment</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for review in object_list %}
        <tr>
          <td>{{ review.customer_name }}</td>
          <td>{{ review.barber.name }}</td>
          <td>
            <div class="star-rating">
              {% for _ in "12345" %}
              {% if forloop.counter <= review.rating %}
                  <span class="fa fa-star"></span>
              {% else %}
                  <span class="fa fa-star-o"></span>
              {% endif %}
              {% endfor %}
            </div>
          </td>
          <td>{{ review.comment }}</td>
          <td class="action-links">
            <a href="{% url 'contact:review_update' pk=review.pk %}"><i class="fa fa-edit"></i> Edit</a>
            <a href="{% url 'contact:review_delete' pk=review.pk %}" ><i class="fa fa-trash"></i> Delete</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock body %}
